    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark  sticky-top" >
      <div class="container-fluid">
        <a ><img src="./assets/logo.png" alt="" width=20% height=20%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <input class="nav-link" name="action" routerLink="" value="Accueil" type="submit">
                
            </li>
            <li class="nav-item">
              
              <input class="nav-link" name="action" routerLink="/menu" value="Menu" type="submit">
            </li>
            <li class="nav-item">
              <input class="nav-link" name="action" routerLink="/ajouter" value="Ajouter" type="submit">
              
            </li>
    
            <li class="nav-item">
              <a class="btn btn-outline-danger admin-button">Admin</a>
              
            </li>
    
          </ul>
    
          </div>
      </div>
    </nav>

    <!--- Routing Section -->
    <router-outlet></router-outlet>
    <!--- Footer -->
    <footer>
      <div class="container-fluid padding">
        <div class="row text-center">
          <div class="col-md-4" >
            <img src="img/headlogo.png" alt="">
            <hr class="light">
            <p>91-169-420</p>
            <p>support@goodeats.com</p>
            <p>100 street name</p>
            <p>City, tunis, 0000</p>
          </div>
          <div class="col-md-4">
            <hr class="light">
            <h5>Nos Heures</h5>
            <hr class="light">
            <p>Lundi jusqu'à samedi: 9 AM - 5 PM</p>
            <p>Dimanche: 10 AM - 4 PM</p>
          </div>
          <div class="col-md-4">
            <hr class="light">
            <h5>Region du service</h5>
            <hr class="light">
            <p>City,state,00000</p>
            <p>City,state,00000</p>
            <p>City,state,00000</p>
          </div>
        </div>
    
      </div>
      
          
    
    
    </footer>
    
<!--<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <img src="/assets/logo.svg" alt="" width="24" height="24">
      <h5 class="my-0 mr-md-auto font-weight-normal" routerLink="">GoodEats</h5>
      <nav class="my-2 my-md-0 mr-md-3" class=>
        <a class="p-2 text-dark" routerLink="">Accueil</a>
        <a class="p-2 text-dark" routerLink="/menu">Menu</a>
        <a class="p-2 text-dark" routerLink="/ajouter">Ajouter</a>
      </nav>
      <a class="btn btn-outline-danger">Admin</a>
    </div>

    

    <div class="container">
      <router-outlet></router-outlet>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img src="/assets/logo.svg" alt="" width="24" height="24"><h5 class="my-0 mr-md-auto font-weight-normal">GoodEats</h5>
            <small class="d-block mb-3 text-muted">&copy; 2020-2021</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>-->
